body {
  background-color: #242424;
  color:#ffffff;
  font-family: Bitstream Vera Sans, Verdana, Geneva, Arial, Helvetica, sans-serif;
}

div {
  border: 1px solid #242424;
  margin: 50px auto;
  padding: 100px auto;
  text-decoration: none;
}

#header {
  text-align: center;
}

a {
  text-decoration: none !important;
}

a:hover {
  font-weight: bold !important;
} ;

#main {
  text-align: left;
}
